@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }
  
    .print:hidden {
      display: none;
    }
  
    .printable-content {
      padding: 20px;
    }
  
    .no-print {
      display: none;
    }
  
    .print-btn {
      display: none;
    }

  }
